<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADCitasUM.Properties.Settings.DBCITASConnectionString"
            connectionString="Data Source=MIGUEL\MIGUEL;Initial Catalog=DBCITAS;Persist Security Info=True;User ID=proyecto;Password=proyecto"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>